<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet" >
    <title th:text="${msg}">Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        <h1 th:text="${msg}"></h1>
      </div>
      <div class="container">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>nama</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr th:each="provinsii : ${provinsi}">
                      <td th:text="${provinsii.id}"></td>
                      <td th:text="${provinsii.nama}"></td>
                      <td>
                        <a th:href="@{'/update/' + ${provinsii.id}}" class="btn btn-primary">Update</a>
                        <a th:href="@{'/delete/' + ${provinsii.id}}" class="btn btn-danger">Delete</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      
      <div class="container">
        <a th:href="@{/add}" class="btn btn-primary">Add</a>
      </div>

      <br>
      <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>nama</th>
                    <th>Provinsi Id</th>
                    <th>Provinsi Nama</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="kotaa : ${kota}">
                    <td th:text="${kotaa.id}"></td>
                    <td th:text="${kotaa.nama}"></td>
                    <td th:text="${kotaa.getProvinsiId}"></td>
                    <td th:text="${kotaa.getProvinsiName}"></td>
                    <td>
                      <a th:href="@{'/updateKota/' + ${kotaa.id}}" class="btn btn-primary">Update</a>
                      <a th:href="@{'/deleteKota/' + ${kotaa.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

      
      <div class="container">
        <a th:href="@{/addKota}" class="btn btn-primary">Add</a>
      </div>
      <br>

      
    
    

      <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>nama Kecamatan</th>
                    <th>nama Desa</th>
                    <th>Kota id</th>
                    <th>Kota Nama</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="kec : ${kecdes}">
                    <td th:text="${kec.id}"></td>
                    <td th:text="${kec.namaKecamatan}"></td>
                    <td th:text="${kec.namaDesa}"></td>
                    <td th:text="${kec.getKotaId}"></td>
                    <td th:text="${kec.getKotaName}"></td>
                    <td>
                      <a th:href="@{'/updateKecDes/' + ${kec.id}}" class="btn btn-primary">Update</a>
                      <a  th:href="@{'/deleteKecDes/' + ${kec.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

      
    <div class="container">
      <a th:href="@{/addKecDes}" class="btn btn-primary">Add</a>
    </div>
    <br>

    
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>